@mixin handwriting1 {
  font-family: "Humanbumsuk", serif;
  font-weight: normal;
  font-style: normal;
}

@mixin letter-nickname {
  font-family: Inter, "sans-serif";
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin letter-content {
  font-family: Inter, "sans-serif";
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin letter-create-time {
  font-family: Inter, "sans-serif";
  font-size: 7px;
  font-weight: 400;
  line-height: 7px;
  letter-spacing: 0em;
  text-align: right;
}
