@use "../styles/font";

.home {
  @include font.handwriting1;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    width: auto;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex: 1;
  flex-direction: column;

  > .map {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new {
    position: absolute;
    bottom: 5vh;
    opacity: 0.5;
    background: none;
    font: inherit;
    border: none;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }
  .my-position-btn {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    opacity: 0.5;
    background: none;
    font: inherit;
    border: none;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }
}

.marker {
  background: #19c97f;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.highlight {
  width: 138px;
  height: min-content;
  background: linear-gradient(-45deg, transparent 10%, #19c97f 10%);
  padding: 16px;
  border-radius: 5px;
  margin-left: -100px;

  .letterHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;
  }

  .nickname {
    @include font.letter-nickname;
  }

  .createTime {
    @include font.letter-small;
  }

  img {
    width: 108px;
    margin-bottom: 9px;
  }

  .content {
    @include font.letter-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .more {
    @include font.letter-small;
  }
}
