@use "../styles/font";

.home {
  @include font.handwriting1;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    width: auto;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  // For iOS 
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex: 1;
  flex-direction: column;
  box-sizing: initial;

  > .map {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new {
    position: absolute;
    bottom: 5vh;
    opacity: 0.5;
    background: none;
    font: inherit;
    border: none;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }
  .my-position-btn {
    position: absolute;
    bottom: 5vh;
    left: 1vw;
    opacity: 0.5;
    background: none;
    font: inherit;
    border: none;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
  }
}
