@use "./styles/font";

.send {
  @include font.handwriting1;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./paper_texture.jpg");

  background-size: cover;
  font-size: 32px;
  overflow-x: hidden;
  .back{
    position: absolute;
    top:20px;
    right:20px;
    font:inherit;
    font-size:24px;
    background: none;
    border:none;
  }

  .description {
    width: 100%;
    height: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .writeMenus {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: 0;
      font: inherit;
      padding: 20px 0;

      &.done {
        background: white;
      }

      .icon {
        width: 80px;
        margin-bottom: 10px;
      }

      .name {
        font-size: 22px;
      }
    }
  }

  .modalContainer {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.3);
    height: 100%;
    top:0;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
    &.on{
      visibility: visible;
      opacity: 1;
    }
    .modalWrapper{
      position: absolute;
      width:100%;
      height:75%;
      bottom: -75%;
      transition: 1s ease;
      background: transparent;
      .closeModal {
        position:absolute;
        display: flex;
        background: transparent;
        right:24px;
        top:24px;
        visibility: hidden;
        border: none;
        .icon{
          width:30px;
        }
      }
      &.writing, &.voice {
        transform: translateY(-100%);
        .closeModal{
          visibility: visible;
        }
      }
    }
  }
  .submit{
    position:absolute;
    background: red;
    border:none;
    font:inherit;
    bottom:0;
    right:0;
    width:40%;
    div{
      position:absolute;
      font:inherit;
      bottom:6vw;
      right:6vw;
      font-size:8vw;
    }
    img{
      position: absolute;
      bottom:0;
      right:0;
      width:100%;
    }
  }
}