.textModal {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;

  .description {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .textArea {
    font: inherit;
    font-size: 24px;
    border: 0;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    height: 80%;
    resize: none;
  }
}