@use "../../../styles/font";

.highlight {
  position: relative;
  width: 138px;
  height: min-content;
  margin-left: -138px;
  overflow: hidden;
  background: #19c97f;
  padding: 16px;
  border-radius: 5px;
  background: linear-gradient(-45deg, transparent 10%, #19c97f 10%);

  .letterHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 12px;

    .nickname {
      @include font.letter-nickname;
      color: white;
    }

    .createTime {
      @include font.letter-create-time;
      color: white;
    }
  }

  img {
    margin-top: 2px;
    margin-bottom: 9px;
    width: 108px;
  }

  .content {
    @include font.letter-content;
    color: white;
    width: 102px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .more {
    @include font.letter-create-time;
    background: transparent;
    border: none;
    padding: none;
    color: white;
  }

  &.noImage {
    height: 138px;

    .content {
      width: 102px;
      max-height: 67px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
  }
}

.marker {
  background: #19c97f;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 0px;
}
