.imageModal{
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px;
  font-size:24px;
}

.imageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 90%;
  height: 100%;
  object-fit: cover;

}

.captureButton{
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 100px;
  height: 50px;
  background: #2F80ED;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.noImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.captureBtnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.description {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}